<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
	<display-name>java-rest-user-application</display-name>
	
  <security-constraint id="SecurityConstraints_RESTAPIDiscoveryUI">
    <display-name>User Profile Security Constraint</display-name>
    <web-resource-collection id="WebResourceCollection_User_Profile">
      <web-resource-name>User Profile URL</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>Administrator</role-name>
    </auth-constraint>
    <user-data-constraint id="UserDataConstraint_User_Profile">
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <security-constraint id="SecurityConstraints_RESTAPIDiscoveryUI_MethodOmitted">
    <display-name>User Profile Security Constraint</display-name>
    <web-resource-collection id="WebResourceCollection_RESTAPIDiscoveryUI_MethodOmitted">
      <web-resource-name>User Profile URL</web-resource-name>
      <url-pattern>/*</url-pattern>
      <http-method>OPTIONS</http-method>
    </web-resource-collection>
    <user-data-constraint id="UserDataConstraint_RESTAPIDiscoveryUI_MethodOmitted">
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <security-role id="Administrator">
    <description>Administrator role</description>
    <role-name>Administrator</role-name>
  </security-role>

  <login-config id="LoginConfig_all">
    <auth-method>BASIC</auth-method>
    <realm-name>UserProfile</realm-name>
  </login-config>
</web-app>
